AIRFLOW_UID=50000

AIRFLOW_POSTGRES_USER=user
AIRFLOW_POSTGRES_PASSWORD=password
AIRFLOW_POSTGRES_DB=airflow

DWH_POSTGRES_USER=user
DWH_POSTGRES_PASSWORD=password
DWH_POSTGRES_DB=chembl

AIRFLOW_CONN_DWH_POSTGRES=postgresql://chembl:chembl@dwh-postgres:5432/chembl
AIRFLOW_CONN_AWS_S3=aws://?region_name=eu-central-1
AIRFLOW_CONN_MSTEAMS_WEBHOOK=https://ask-your-team-to-provide-you-with-this-url

AIRFLOW_SIMPLE_AUTH_USERS=admin:admin
AIRFLOW_PUBLIC_BASE_URL=http://localhost:8082

AWS_DEFAULT_REGION=eu-central-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

S3_BUCKET=de-school-educational-data
S3_BASE_PREFIX=final_task/karbaia_nano
SOURCE_INPUT_PREFIX=final_task/karbaia_nano/input

_PIP_ADDITIONAL_REQUIREMENTS=
